*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 32px;
   
}

:root{
    --facebook: #3b5998;
    --linkedin: #0077b5;
    --github: #333;
}

body{
    width: 100%;
    height: 100vh;
}
.logolatam{
    display: inline-block;
    width: 10%;
    scale: .8;
    animation:  movimiento 2.5s linear infinite;
}

header h1{
    position: absolute;
    top: 3%;
    margin-left: 7em;
    font-family: 'Bungee Spice', cursive;
    font-size: 33px;

}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.container-btn-mode{
    position: absolute;
    top:20px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    font-size:0;
  }

  .container-btn-mode:hover{
    transform: scale(1.10);
    transition: .2s;
 }

  .btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:1px solid #e0730d;
    transition: background-color .5s;
  }

  .btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
  }

  .btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
  }

  .btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .active{
    background-color:black;
    color:#e0730d !important;
  }
 
  .dark-mode{
    background-color: #1A1C1E;
    transition:background-color 2s;
  }

  .dark-mode .card{
    background-color: #1A1C1E;
  }

  .dark-mode h1, .dark-mode h2, .dark-mode .btn-contact{
    color:white;
  }

  .dark-mode .btn-mode{
    background-color:#1A1C1E;
    border:1px solid white;
    color:white;
  }

.text-area{
    border: #e0730d 2px solid;
    border-radius: 24px;
    color: #e0730d;
    margin-left: 3em;
    text-transform: lowercase;
    height: 72%;
    padding-left: 15px;
    padding-top: 10px;
}

::placeholder{ color: #e0730d;}
.text-area:focus{ outline: none;
}

.informacion{
    font-family: 'Bungee Spice', cursive;
    color: #495057;
    font-size: 18px;
    margin-left: 17%;
 }

.botones{
    display: flex;
    margin-top: 18px;

}

.button-encriptar{
    font-family: 'Bungee Spice', cursive;
    background-color: #0d0e0d;
    border: 2px solid #e0730d;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-top: 50px;
    position: relative;
    z-index: 2;
 }

 .button-encriptar:hover{
    transform: scale(1.10);
    transition: .5s;
 }

 .button-desencriptar{
    font-family: 'Bungee Spice', cursive;
    background: #e8ebeb;
    border: 2px solid #e0730d;
    border-radius: 24px;
    color: #3b5998;
    cursor: pointer;
    height: 67px;
    margin-left: 50px;
    margin-top: 50px;
    width: 328px;
    z-index: 2;
 }

 .button-desencriptar:hover{
    transform: scale(1.10);
    transition: .5s;
 }

 .botonesv2{
    z-index: 2;
}

 .mensaje{
    height: 52%;
    background: white;
    background-repeat: no-repeat;
    border-radius: 24px;
    border: #e0730d 2px solid;
    color: #e0730d;
    position: absolute;
    margin-left: 20%;
    margin-top: -5%;
    padding-left: 20px;

}

.copiar{
    position: absolute;
    margin-top: 23%;
    margin-left: 22.2%;
    font-family: 'Bungee Spice', cursive;
    background: #3b5998;
    border: 2px solid #e0730d;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 336px;
    z-index: 1;
    
 }

 .copiar:hover{
    transform: scale(1.10);
    transition: .5s;
 }

 #limpiarBtn{
    font-family: 'Bungee Spice', cursive;
    background: #e8ebeb;
    border: 2px solid #e0730d;
    border-radius: 24px;
    color: #3b5998;
    cursor: pointer;
    height: 67px;
    margin-left: 15%;
    margin-top: 152%;
    width: 328px;
     
}

#limpiarBtn:hover{
    transform: scale(1.10);
    transition: .5s;
 }


.mensaje:focus{ outline: none;
}

::placeholder{
    text-align: center;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }

 .rayoslaser {
    opacity: 0;
    width: 150px; 
    height: 28px; 
    background: #e20b0b;
    rotate: 90deg;
    border-radius: 70px;
    box-shadow: 5px 5px 5px 5px #000000;
    position: absolute;
    left: 0;
    bottom: 170px;
    z-index: 3;
    animation: matrix 3s linear infinite;
}

.rayoslaser:nth-child(1){
    opacity: 0;
    background: #7bd125;
    left: 2%;
    scale: .8;
    animation-duration: 3s;
    animation-delay: 3s;
}

.rayoslaser:nth-child(2){
    opacity: 0;
    background: #7e69dd;
    left:35%;
    scale: 1;
    animation-duration: 3s;
    animation-delay: 5s;
}

.rayoslaser:nth-child(3){
    opacity: 0;
    background: #0b2fcf;
    left:15%;
    scale: .4;
    animation-duration: 2.5s;
    animation-delay: 7s;
}

.rayoslaser:nth-child(4){
    opacity: 0;
    background: #7e69dd;
    left:90%;
    scale: .5;
    animation-duration: 6s;
    animation-delay: 3s;
}

.rayoslaser:nth-child(5){
    opacity: 0;
    background: #7bd125;
    left:65%;
    scale: .7;
    animation-duration: 3s;
    animation-delay: 1s;
}

.rayoslaser:nth-child(6){
    opacity: 0;
    background: #7bd125;
    left:50%;
    scale: .3;
    animation-duration: 4s;
    animation-delay: 5s;
}

.rayoslaser:nth-child(7){
    opacity: 0;
    left:57%;
    scale: .5;
    animation-duration: 4s;
    animation-delay: 5s;
}

.rayoslaser:nth-child(8){
    opacity: 0;
    left:51%;
    scale: .65;
    animation-duration: 3s;
    animation-delay: 2s;
}

.rayoslaser:nth-child(9){
    opacity: 0;
    background: #0b2fcf;
    left:52%;
    scale: 1;
    animation-duration: 5s;
    animation-delay: 5s;
}

.rayoslaser:nth-child(10){
    opacity: 0;
    left:35%;
    scale: .4;
    animation-duration: 3s;
    animation-delay: 4s;
}

.rayoslaser:nth-child(11){
    opacity: 0;
    background: #7e69dd;
    left:12%;
    scale: .6;
    animation-duration: 3s;
    animation-delay: 4s;
}

.rayoslaser:nth-child(12){
    opacity: 0;
    background:#beb20a ;
    left:7%;
    scale: .6;
    animation-duration: 5s;
    animation-delay: 2s;
}

.rayoslaser:nth-child(13){
    opacity: 0;
    background: #beb20a;
    left:85%;
    scale: .4;
    animation-duration: 3s;
    animation-delay: 1s;
}

.rayoslaser:nth-child(14){
    opacity: 0;
    background: #0b2fcf;
    left:80%;
    scale: 1;
    animation-duration: 4s;
    animation-delay: 2s;
}

footer{
    background: url(bg.jpg);
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.redes-container{
    display : flex;
    justify-content: right;
    margin-right: 5%;
    margin-top: 90px;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}   

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0,.2);

}

.redes-container ul:hover a{
    filter: blur(2px); 
}

.redes-container ul li a:hover{
    transform: translateY(3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0,.4);
    filter: none;
}

.redes-container ul li .facebook:hover{
    background: var(--facebook);
}

.redes-container ul li .linkedin:hover{
    background: var(--linkedin);
}

.redes-container ul li .github:hover{
    background: var(--github);
}

@keyframes matrix{
0%{position: absolute;
    bottom: 110px;
    opacity: 0;
}
65%{
translate: translateX(50px);
}
50%{
    opacity: .4;
}
100%{
    bottom:100vh;
    opacity: 0;
}
}

@keyframes movimiento{
0%{
    transform: translateY(0);
}
50%{
    transform: translateY(10px);
}
100%{
    transform: translateY(0);
}
}

@media screen and ( min-width:359px) and (max-width: 365px) and ( min-height:765px) and (max-height: 775px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 15px;
    margin-left: 10%;
}

.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;  
    width: 361px;  
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -20%;
    margin-top: -5%;
    scale: .7;
}

.mensaje{
    position: absolute;
    margin-top: 79%;
    scale: .7;
    margin-left: -25.5%;
}

.informacion{
    position: absolute;
    margin-top: 70%;
    margin-left: -6%;
    font-size: 11px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 73%;
    margin-left: 32%;
    scale: .5;
}

.button-encriptar{
    position: absolute;
    margin-top: 73%;
    margin-left: -16%;
    scale: .5;
}

.copiar{
    position: absolute;
    margin-top: 170%;
    margin-left: 5%;
    scale: .5;
}

#limpiarBtn{
    position: absolute;
    margin-top: 170%;
    margin-left: -42%;
    scale: .5;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -45%;
}


footer{
    position: absolute;
    margin-bottom: -45%;
    width: 100%;
    }

}

@media screen and ( min-width:359px) and (max-width: 369px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 15px;
    margin-left: 10%;
}

.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;  
    width: 361px;  
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -20%;
    margin-top: -5%;
    scale: .7;
}

.mensaje{
    position: absolute;
    margin-top: 79%;
    scale: .7;
    margin-left: -25.5%;
}

.informacion{
    position: absolute;
    margin-top: 70%;
    margin-left: -6%;
    font-size: 11px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 73%;
    margin-left: 32%;
    scale: .5;
}

.button-encriptar{
    position: absolute;
    margin-top: 73%;
    margin-left: -16%;
    scale: .5;
}

.copiar{
    position: absolute;
    margin-top: 170%;
    margin-left: 5%;
    scale: .5;
}

#limpiarBtn{
    position: absolute;
    margin-top: 170%;
    margin-left: -42%;
    scale: .5;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -45%;
}


footer{
    position: absolute;
    margin-bottom: -45%;
    width: 100%;
    }

}

@media screen and ( min-width:370px) and (max-width: 376px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 17px;
    margin-left: 1%;
    scale: .8;
}

.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;  
    width: 100%;   
    scale: .8;
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -22%;
    margin-top: -15%;
    scale: .5;
}

.mensaje{
    position: absolute;
    margin-top: 60%;
    scale: .5;
    margin-left: -22%;
}

.informacion{
    position: absolute;
    margin-top: 60%;
    margin-left: -5%;
    font-size: 12px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 85%;
    margin-left: 40%;
    scale: .6;
}

.button-encriptar{
    position: absolute;
    margin-top: 85%;
    margin-left: -17%;
    scale: .6;
}

.copiar{
    position: absolute;
    margin-top: 135%;
    margin-left: 8%;
    scale: .5;
}

#limpiarBtn{
    position: absolute;
    margin-top: 135%;
    margin-left: -37%;
    scale: .5;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -10%;
}


footer{
    position: absolute;
    margin-bottom: -10%;
    width: 100%;
    }
}


@media screen and ( min-width:376px) and (max-width: 394px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 17px;
    margin-left: 5%;
    scale: .8;
}

.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;
    width: 100%;   
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -20%;
    margin-top: -5%;
    scale: .7;
}

.mensaje{
    position: absolute;
    margin-top: 70%;
    scale: .6;
    margin-left: -19%;
}

.informacion{
    position: absolute;
    margin-top: 70%;
    margin-left: -3%;
    font-size: 12px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 75%;
    margin-left: 37%;
    scale: .5;
}

.button-encriptar{
    position: absolute;
    margin-top: 75%;
    margin-left: -11%;
    scale: .5;
}

.copiar{
    position: absolute;
    margin-top: 160%;
    margin-left: 12%;
    scale: .5;
}

#limpiarBtn{
    position: absolute;
    margin-top: 160%;
    margin-left: -36%;
    scale: .5;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -10%;
}


footer{
    position: absolute;
    margin-bottom: -10%;
    width: 100%;
    }
}

@media screen and ( min-width:395px) and (max-width: 415px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 18px;
    margin-left: 10%;
    scale: .9;
}

.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;   
    width: 100%; 
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -18%;
    margin-top: -5%;
    scale: .7;
}

.mensaje{
    position: absolute;
    margin-top: 70%;
    scale: .6;
    margin-left: -16%;
}

.informacion{
    position: absolute;
    margin-top: 70%;
    margin-left:-5%;
    font-size: 13px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 75%;
    margin-left: 39%;
    scale: .5;
}

.button-encriptar{
    position: absolute;
    margin-top: 75%;
    margin-left: -6%;
    scale: .5;
}

.copiar{
    position: absolute;
    margin-top: 163%;
    margin-left: 14%;
    scale: .5;
}

#limpiarBtn{
    position: absolute;
    margin-top: 163%;
    margin-left: -32%;
    scale: .5;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -10%;
}


footer{
    position: absolute;
    margin-bottom: -10%;
    width: 100%;
    }
}

@media screen and ( min-width:410px) and (max-width: 430px) and ( min-height:920px) and (max-height: 930px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 18px;
    margin-left: 10%;
    scale: .9;
}

.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;   
    width: 100%; 
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -19%;
    margin-top: -2%;
    scale: .7;
}

.mensaje{
    position: absolute;
    margin-top: 62%;
    scale: .6;
    margin-left: -22%;
}

.informacion{
    position: absolute;
    margin-top: 60%;
    margin-left:-10%;
    font-size: 13px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 82%;
    margin-left: 39%;
    scale: .6;
}

.button-encriptar{
    position: absolute;
    margin-top: 82%;
    margin-left: -18%;
    scale: .6;
}

.copiar{
    position: absolute;
    margin-top: 153%;
    margin-left: 8%;
    scale: .5;
}

#limpiarBtn{
    position: absolute;
    margin-top: 153%;
    margin-left: -39%;
    scale: .5;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -10%;
}


footer{
    position: absolute;
    margin-bottom: -10%;
    width: 100%;
    }
}

@media screen and ( min-width:370px) and (max-width: 376px) and ( min-height:800px) and (max-height: 820px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 18px;
    margin-left: 10%;
    scale: .9;
}

.textarea, .text-area, .botones{
  margin: auto;
  padding-left: auto;   
  width: 100%; 
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -19%;
    margin-top: -2%;
    scale: .7;
}

.mensaje{
    position: absolute;
    margin-top: 62%;
    scale: .6;
    margin-left: -22%;
}

.informacion{
    position: absolute;
    margin-top: 60%;
    margin-left:-10%;
    font-size: 13px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 82%;
    margin-left: 39%;
    scale: .6;
}

.button-encriptar{
    position: absolute;
    margin-top: 82%;
    margin-left: -18%;
    scale: .6;
}

.copiar{
    position: absolute;
    margin-top: 153%;
    margin-left: 8%;
    scale: .5;
}

#limpiarBtn{
    position: absolute;
    margin-top: 153%;
    margin-left: -39%;
    scale: .5;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -10%;
}


footer{
    position: absolute;
    margin-bottom: -10%;
    width: 100%;
    }
}

@media screen and ( min-width:395px) and (max-width: 415px) and ( min-height:730px) and (max-height: 750px){

body{
     height: 100vh;
}
    
.logolatam{
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    scale: 1.5;
}
    
header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 18px;
    margin-left: 10%;
    scale: .9;
}
    
.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;   
    width: 100%; 
}
    
.botones{
    position: absolute;
    margin-left: -25%;
}

.text-area{
    width: 100%;
    position: absolute;
    margin-left: -18%;
    margin-top: -2%;
    scale: .7;
}
    
.mensaje{
    position: absolute;
    margin-top: 62%;
    scale: .6;
    margin-left: -16%;
}
    
.informacion{
    position: absolute;
    margin-top: 60%;
    margin-left:-5%;
    font-size: 13px;
}
    
.button-desencriptar{
    position: absolute;
    margin-top: 65%;
    margin-left: 39%;
    scale: .5;
}
    
.button-encriptar{
     position: absolute;
     margin-top: 65%;
    margin-left: -6%;
    scale: .5;
}
    
.copiar{
    position: absolute;
    margin-top: 140%;
    margin-left: 14%;
    scale: .5;
 }
    
#limpiarBtn{
    position: absolute;
    margin-top: 140%;
    margin-left: -32%;
    scale: .5;
}
    
.rayoslaser{
     margin-left: -15%;
    scale: .5;
    margin-bottom: -10%;
    }
    
footer{
    position: absolute;
    margin-bottom: -10%;
    width: 100%;
    }
}
    
@media screen and ( min-width:760px) and (max-width: 770px) and ( min-height:1000px) and (max-height: 1026px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 30px;
    margin-left: 13%;
}

.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;   
    width: 100%; 
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -14%;
    margin-top: 10%;
    scale: .8;
}

.mensaje{
    position: absolute;
    margin-top: 68%;
    scale: .8;
    height: 370px;
    margin-left: -4%;
}

.informacion{
    position: absolute;
    margin-top: 55%;
    margin-left: 10%;
    font-size: 20px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 60%;
    margin-left: 69%;
    scale: .9;
    
}

.button-encriptar{
    position: absolute;
    margin-top: 60%;
    margin-left: 23%;
    scale: .9;
}

.copiar{
    position: absolute;
    margin-top: 79%;
    margin-left: 43%;
    scale: .9;
}

#limpiarBtn{
    position: absolute;
    margin-top: 93%;
    margin-left: 43.5%;
    scale: .9;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -10%;
}

footer{
    position: absolute;
    margin-bottom: -10%;
    width: 100%;
    }

.redes-container{
    scale: 1.2;
    margin-left: 60%;
 }
}
   
@media screen and ( min-width:740px) and (max-width: 760px) and ( min-height:1560px) and (max-height: 1600px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 30px;
    margin-left: 13%;
}

.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;   
    width: 100%; 
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -14%;
    margin-top: 10%;
    scale: .8;
}

.mensaje{
    position: absolute;
    margin-top: 68%;
    scale: .8;
    height: 370px;
    margin-left: -4%;
}

.informacion{
    position: absolute;
    margin-top: 55%;
    margin-left: 10%;
    font-size: 20px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 60%;
    margin-left: 69%;
    scale: .9;
    
}

.button-encriptar{
    position: absolute;
    margin-top: 60%;
    margin-left: 23%;
    scale: .9;
}

.copiar{
    position: absolute;
    margin-top: 79%;
    margin-left: 43%;
    scale: .9;
}

#limpiarBtn{
    position: absolute;
    margin-top: 93%;
    margin-left: 43.5%;
    scale: .9;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -10%;
}

footer{
    position: absolute;
    margin-bottom: -10%;
    width: 100%;
    }

.redes-container{
    scale: 1.2;
    margin-left: 60%;
    }
}
      
@media screen and ( min-width:800px) and (max-width: 825px){

body{
    height: 100vh;
}

.logolatam{
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    top: 0;
    scale: 1.5;
}

header h1{
    position: absolute;
    top: 0;
    padding-top: 7%;
    text-align: center;
    font-size: 20px;
    margin-left: 17%;
}

.textarea, .text-area, .botones{
    margin: auto;
    padding-left: auto;   
    width: 100%; 
}

.botones{
    position: absolute;
    margin-left: -25%;
}
.text-area{
    width: 100%;
    position: absolute;
    margin-left: -9%;
    margin-top: 5%;
    scale: .8;
}

.mensaje{
    position: absolute;
    margin-top: 72%;
    scale: .8;
    height: 500px;
    margin-left: -4%;
}

.informacion{
    position: absolute;
    margin-top: 60%;
    margin-left: 13%;
    font-size: 20px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 66%;
    margin-left: 69%;
    
}

.button-encriptar{
    position: absolute;
    margin-top: 66%;
    margin-left: 23%;
}

.copiar{
    position: absolute;
    margin-top: 89%;
    margin-left: 43%;
}

#limpiarBtn{
    position: absolute;
    margin-top: 103%;
    margin-left: 43.5%;

}

.rayoslaser{
    margin-left: -15%;
    scale: .5;
    margin-bottom: -10%;
}


footer{
    position: absolute;
    margin-bottom: -10%;
    width: 100%;
}

.redes-container{
    scale: 1.2;
    margin-left: 60%;
 }
}

@media screen and ( min-width:1700px) and (max-width: 2120px){

header h1{
    position: absolute;
    margin-top: 2%;
    margin-left: 20%;
} 

.text-area{
    position: absolute;
    margin-left: 15%;
    height: 400px;
}

.mensaje{
    position: absolute;
    margin-top: -2%;
    margin-left: 69%;
}

.informacion{
    position: absolute;
    margin-top: 28%;
    margin-left: 15%;
    font-size: 30px;
}

.button-desencriptar{
    position: absolute;
    margin-top: 33%;
    margin-left: 20%;
    
    
}

.button-encriptar{
    position: absolute;
    margin-top: 33%;
}

.copiar{
    position: absolute;
    margin-left: 71%;
    margin-top: 27%;
}

#limpiarBtn{
    position: absolute;
    margin-top: 34%;
    margin-left: 40%;
 }
}


























































  
